body{
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}


header{
    position: fixed;
    top: 0;
    height: 35px;
    width: 100%;
    padding: 15px 30px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #42576d;
    font-size: 15px;
}
.marca{
    font-size: 30px; color: rgb(253, 251, 250)
    
}
nav{
    margin-right: 35px;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: rgb(245, 247, 246);
}
.link:hover{
    color:#30d8ef;
    cursor: pointer;
    text-decoration: underline;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #222;
    color: #eee;
    text-align: center;
    padding: 10px 10px;
    font-size: 12px;
    z-index: 1000;
}